@charset "UTF-8"

a
{
	color: #000000;
	text-decoration: none;
}

/* Menu de fotos */

nav#fotos_menu
{
	display: block;
}

nav#fotos_menu h1
{
	display: none;
}

div#fotos_div
{
	display: block;
}

nav#fotos_menu div#fotos_div img.imgs
{
	position: relative;
	height: 400px;
	width: 1340px;
}

nav#fotos_menu div#fotos_div img.buttons
{
	width: 3%;
	position: absolute;
}

nav#fotos_menu div#fotos_div img.buttons#button_left
{
	top: 30%;
}

nav#fotos_menu img#buton_left
{
	-webkit-transform: rotate(180deg);
}

/* Menu principal */

nav#menu
{
	display: block;
	top: -2%;
	width: 100%;
	height: 100%;
	position: relative;
}

nav#menu h1
{
	display: none;
}

nav#menu ul
{
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	left: -3%;
	width: 100%;
	right: 10%;
}

nav#menu li
{
	display: inline-block;
	background-color: #ED233F;
	padding: 0.7% 2.91% 0.7% 2.91%;
	margin: -0.4%;
}

nav#menu li#meio_1
{
	border-right: 15%;
}

nav#menu li#meio_2
{
	padding-left: 5%;
}

nav#menu img#logo_menu
{
	width: auto;
	height: 200px;
	top: -100%;
}
