@charset "utf-8";

div#interface h1 
{
	display: none;
}

/* Menu de fotos */

div#fotos_div 
{
	position: relative;
}

div#fotos_div img.imgs
{
	height: 45.5em;
	width: 100%;
}

div#fotos_div input#button_left, input#button_right
{
	width: 7%;
	top: 45%;
	position: absolute;
}

div#fotos_div input#button_left
{
	-webkit-transform: rotate(180deg);
	left: 4%;
} 	

div#fotos_div input#button_right
{
	right: 4%;
}

/* Menu navegável -- Dispositvos médios e grandes*/

nav#menu
{
	position: sticky;
	width: 100%;
}

nav#menu ul
{
	list-style: none;
	margin-left: auto;
	margin-right: auto;
	background-color: red;
	margin-top: -0.3%;
}

nav#menu ul a
{
	color: black;
}

nav#menu ul li.menu
{
	display: inline-block;
	padding: 1% 4% 1% 4%;
	border-right: solid white 2px;

}

nav#menu ul li#meio_1
{
	padding-right: 10%;
	border-color: none;
}

nav#menu ul li#meio_2
{
	padding-left: 10%;
	border-color: none;
}

nav#menu img#logo_menu
{
	position: absolute;
	width: 10%;
	top: -460%;
	left: 41.5%;
}

/*Artigos && Page*/

section#body header#header_page h1
{
}

section#body
{
	float: left;
	width: 73%;
	border-right: 1px solid black;	
}

section#body article
{
	width: 95%;
}

aside#side
{
	float: right;
	width: 22%;
}
